<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cellular"></ion-icon>
      <ion-label>Estatísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="play"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Desafie</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
