<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz LOL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Vamos lá</ion-card-subtitle>
        <ion-card-title>Bem vindo ao Quiz de LOL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item-group>
              <ion-item-divider>
                <ion-label>Placar vs Amigos</ion-label>
              </ion-item-divider>
              
              <div>
              <ion-item>
                <ion-badge color="success">20</ion-badge>
              </ion-item>
              <ion-label>Arthur</ion-label>
              
              <ion-item><ion-badge color="danger">100</ion-badge>
              </ion-item>
              
                  
                </div>
        
              

              
            
            </ion-item-group>
            
            
        <p>:D Vamos jogar? :D</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
