.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

div{
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
}

ion-badge{
  height: 40px;
  width: 40px;
  font-size: large;
  padding-top: 12px;
}